:root {
    --main-bg-color: black;
    --secondary-bg-color: rgb(36, 36, 36);
    --main-text-color: white;
    --accent-color: rgb(0, 88, 69);
    --highlight-color: rgb(0, 183, 255);
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: 0;
    margin: 0;
}
/* outer */
#list-filter { 
    background-color: var(--secondary-bg-color);
}
/* inner */
.list-filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 900px;
    margin: 0 auto 0 auto;
}

.list-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-search > button {
    height: 1.2rem;
    margin-left: 3px;
}

.list-inner {
    width: 100%;
    align-items: center;
}

.list-inner>ol {
    list-style-type: none;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.list-inner>ol>li {
    background-color: var(--secondary-bg-color);
    border: var(--accent-color) 3px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 5px;
}

.char-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 35%;
    font-weight: bolder;
    padding: 3px;
    color: var(--highlight-color);
}

.char-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 auto;
    height: 100%;
    flex-wrap: wrap;
    padding: 5px;
}

.char-info>div {
    margin: 3px;
    padding: 2px;
    background-color: var(--accent-color);
    border-radius: 5px;
}

.profile-page {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
}

.profile-pic {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5px;
}

.profile-pic>img{
    height: 150px;
    width: 200px;
    object-fit: cover;

}

.data {
    width: 100%;
    padding: 5px;
    font-size: 1.2rem;
    border: var(--accent-color) 3px solid;
    border-radius: 10px;
    background-color: var(--secondary-bg-color);
    margin: 2.5px;
}

#profile-name {
    text-align: center;
    border: var(--accent-color) 3px solid;
    border-radius: 10px;
    background-color: var(--secondary-bg-color);
    padding: 3px;
    margin-top: 5px;
}

#profile-name>h1 {
    margin: 0;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#phone-number {
    width: 100%;
}

.data-inner {
    display: flex;
}

.data-inner>div {
    height: 100%;
    text-align: center;
    width: 50%;
    text-wrap: nowrap;
}

#phone-number {
    width: 100%;
    text-align: center;
}

.backstory {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    border: var(--accent-color) 3px solid;
    border-radius: 10px;
    background-color: var(--secondary-bg-color);
    padding: 3px;
    margin: 2.5px;
    max-height: 200px;
    min-height: 110px;
    overflow: auto;
}

#cid {
    border: var(--accent-color) 3px solid;
    border-radius: 10px;
    background-color: var(--secondary-bg-color);
    padding: 3px;
    width: 100%;
    text-align: center;
    margin: 2.5px;

}

#cid>h3 {
    margin: 0;
}