{{- range (len .characters | dec | slice .characters 0) }}
<li onclick="window.location='/character/{{.CitizenID}}'">
    <div class="char-name">
            <span>{{.CharInfo.FirstName}} {{.CharInfo.LastName}}</span>
    </div>
    <div class="char-info">
        <div><span>Bank: ${{printf "%.2f" .Money.Bank}}</span></div>
        <div><span>Vehicles: {{len .Vehicles}}</span></div>
        <div><span>Job: {{.Job.Label}}</span></div>
        <div><span>Gang: {{.Gang.Label}}</span></div>
    </div>
</li>
{{end}}

<li onclick="window.location='/character/{{(index .characters (len .characters | dec)).CitizenID}}'" {{if .scrollable}} hx-get="/characters/?currentshown={{.currentShown}}&descending={{.descending}}" hx-trigger="revealed" hx-swap="afterend" {{end}}>
    <div class="char-name">
            <span>{{(index .characters (len .characters | dec)).CharInfo.FirstName}} {{(index .characters (len .characters | dec)).CharInfo.LastName}}</span>
    </div>
    <div class="char-info">
        <div><span>Bank: ${{(printf "%.2f" (index .characters (len .characters | dec)).Money.Bank)}}</span></div>
        <div><span>Vehicles: {{len (index .characters (len .characters | dec)).Vehicles}}</span></div>
        <div><span>Job: {{(index .characters (len .characters | dec)).Job.Label}}</span></div>
        <div><span>Gang: {{(index .characters (len .characters | dec)).Gang.Label}}</span></div>
    </div>
</li>