{{- range (len .characters | dec | slice .characters 0) }}
    <li style="height: 25vh">
        <a href="/character/{{.CitizenID}}">
            <span>{{.CharInfo.FirstName}}</span>
        </a>
    </li>
{{end}}

<li {{if .currentShown}} hx-get="/characters/?currentshown={{.currentShown}}" hx-trigger="revealed" hx-swap="afterend" {{end}} style="height: 25vh">
    <a href="/character/{{(index .characters (len .characters | dec)).CitizenID}}">
        <span>{{(index .characters (len .characters | dec)).CharInfo.FirstName}} last</span>
    </a>
</li>